# Binaries
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
*.test
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# Generated protobuf files
# Если НЕ хочешь хранить сгенерированный код в Git:
/**/*.pb.go

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Temporary files
tmp/
temp/